<div class="container p-4">
    <div class="row item">
        <!-- image  -->
        <div class="col-lg-5 shadow bg-white p-0 img-content">
            <img *ngIf="newItem.get('image').value" class="banner p-0" [src]="newItem.get('image').value">
            <div *ngIf="!newItem.get('image').value" class="img-none"><i class="fa-solid fa-image"></i></div>
        </div>
        <!-- form group  -->
        <div class="col-lg-7 shadow bg-white p-3" [formGroup]="newItem">
            <div class="p-0 d-flex">
                <input type="text" class="form-control my-1 border shadow-sm" placeholder="Url de la imagen" formControlName="image">
                <!-- <label for="file" class="btn btn-primary text-white p-2 my-1 shadow-sm"><i class="fa-solid fa-folder-open"></i></label>
                <input class="form-control my-1 border shadow-sm d-none" id="file" type="file" formControlName="image"> -->
            </div>
            <div class="alert alert-danger p-1 text-center mb-0" role="alert"
                *ngIf="newItem.get('image').errors && newItem.get('image').touched">
                *Imagen obligatoria
            </div>
            <select class="form-select border shadow-sm my-1" aria-label="Default select example"
                formControlName="category">
                <option selected disabled>Categoria</option>
                <option *ngFor="let category of categories; let i = index" [ngValue]="categories[i]">{{category.name}}</option>
            </select>
            <div class="alert alert-danger p-1 text-center mb-0" role="alert"
                *ngIf="newItem.get('category').errors && newItem.get('category').touched">
                *Selecciona una categoria
            </div>
            <input type="text" class="form-control border shadow-sm my-1" placeholder="Titulo" formControlName="title">
            <div class="alert alert-danger p-1 text-center mb-0" role="alert"
                *ngIf="newItem.get('title').errors && newItem.get('title').touched">
                *Campo obligatorio (minimo 3 carácteres)
            </div>
            <div class="div d-flex p-0">
                <div class="input-group">
                    <span class="input-group-text my-1 shadow-sm border" id="basic-addon1">$</span>
                    <input type="number" class="form-control border shadow-sm my-1 price" placeholder="Precio"
                        aria-label="Username" aria-describedby="basic-addon1" formControlName="price">
                </div>
                <input type="number" class="form-control border shadow-sm my-1" placeholder="Stock"
                    formControlName="stock">
            </div>
            <div class="alert alert-danger p-1 text-center mb-0" role="alert"
                *ngIf="newItem.get('price').errors && newItem.get('price').touched">
                *Campo obligatorio (minimo $1)
            </div>
            <textarea class="form-control border shadow-sm my-1" placeholder="Descripción" rows="3"
                formControlName="description"></textarea>
            <!-- submit  -->
            <button class="btn border shadow bg-primary text-white w-100" data-bs-toggle="modal" data-bs-target="#success"  type="submit" [disabled]="!newItem.valid || spinner" (click)="creatItem()">
                <div *ngIf="!spinner">Confirmar</div>
                <div *ngIf="spinner" class="spinner-border text-white spinner" role="status"></div>
            </button>
            <!-- spinner -->
        </div>
    </div>
</div>